In [63]:
#TASK 1
#2. Write a program which will find all such numbers which are divisible by 7 but are not a multiple
#of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
#comma-separated sequence on a single line.
        
[x for x in range(2000,3201) if x%7==0 and x%5!=0 ]

[2002,
 2009,
 2016,
 2023,
 2037,
 2044,
 2051,
 2058,
 2072,
 2079,
 2086,
 2093,
 2107,
 2114,
 2121,
 2128,
 2142,
 2149,
 2156,
 2163,
 2177,
 2184,
 2191,
 2198,
 2212,
 2219,
 2226,
 2233,
 2247,
 2254,
 2261,
 2268,
 2282,
 2289,
 2296,
 2303,
 2317,
 2324,
 2331,
 2338,
 2352,
 2359,
 2366,
 2373,
 2387,
 2394,
 2401,
 2408,
 2422,
 2429,
 2436,
 2443,
 2457,
 2464,
 2471,
 2478,
 2492,
 2499,
 2506,
 2513,
 2527,
 2534,
 2541,
 2548,
 2562,
 2569,
 2576,
 2583,
 2597,
 2604,
 2611,
 2618,
 2632,
 2639,
 2646,
 2653,
 2667,
 2674,
 2681,
 2688,
 2702,
 2709,
 2716,
 2723,
 2737,
 2744,
 2751,
 2758,
 2772,
 2779,
 2786,
 2793,
 2807,
 2814,
 2821,
 2828,
 2842,
 2849,
 2856,
 2863,
 2877,
 2884,
 2891,
 2898,
 2912,
 2919,
 2926,
 2933,
 2947,
 2954,
 2961,
 2968,
 2982,
 2989,
 2996,
 3003,
 3017,
 3024,
 3031,
 3038,
 3052,
 3059,
 3066,
 3073,
 3087,
 3094,
 3101,
 3108,
 3122,
 3129,
 3136,
 3143,
 3157,
 3164,
 3171,
 3178,
 3192,
 3199]

In [2]:
#3. Write a Python program to accept the user's first and last name and then getting them printed in
#the the reverse order with a space between first name and last name.

fname=input("Please enter ur first name:")
lname=input("Now enter your Last name:")
full_name=lname+' '+fname
print(full_name)

Please enter ur first name:chris
Now enter your Last name:dharma
dharma chris

In [6]:
#4 Write a Python program to find the volume of a sphere with diameter 12 cm.
#Formula: V=4/3 * Ï€ * r

diam=12
r=diam/2
pi=3.14

vol=(4/3)*pi*r
print('Volume of the given sphere is %1.3f' %vol)

Volume of the given sphere is 25.120

In [64]:
#Task 2:
#1. Write a program which accepts a sequence of comma-separated numbers from console and
#generate a list

inp_str=input("Enter a sequence of numbers seperated by','")
lst=inp_str.split(',')
print('List of numbers entered:', lst)

Enter a sequence of numbers seperated by','1,2,3,4,5,6,7,8,9,10
List of numbers entered: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [61]:
#2. Create the below pattern using nested for loop in Python.
#*
#* *
#* * *
#* * * *
#* * * * *
#* * * *
#* * *
#* *
#*
n=1
for i in range(1,11):
    print('\n')
    if i<=6:
        k=i
    else:
        k=i-2*n
        n=n+1
    for j in range(1,k):
            print('*', end=' ')

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*

In [65]:
# 3. Write a Python program to reverse a word after accepting the input from the user.

str1=input('Please enter a word of ur choice: ')
print('Reversed word is ', str1[::-1])

Please enter a word of ur choice: dominic
Reversed word is  cinimod

In [20]:
#4. Write a Python Program to print the given string in the format specified in the sample output.

st="WE,THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN,\n\t\t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t\tand to secure to all its citizens"

print(st)

WE,THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,
		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
			and to secure to all its citizens